In [35]:
import pandas as pd

In [36]:
df1 = pd.read_excel('Sample loans data.xlsx','Sheet2')

In [37]:
df2 = pd.read_excel('Sample loans data.xlsx','Sheet3')

In [38]:
df1.equals(df2)

False

In [39]:
df2['Loan Number'].equals(df1['Loan Number'])

False

In [40]:
pd.concat([df1,df2]).drop_duplicates(keep=False).astype(int)

   Loan Number
1            7
2            9